/* .container-fluid {
    background-color: black;
    background-size: cover;
} */

.Order-Online-button {
    background-color:#fcbe4a;
    color: #fff;
    font-size: 18px;
    padding: 8px 28px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.Order-Online-button:hover {
    background-color: rgb(245, 161, 5);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

/* .nav-link {
    color: white;
    font-weight: 500;
    position: relative;
} */