.bg {
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

h1{
    font-size: 4rem;
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}

@media (max-width: 760px) {
    .bg {
        min-height: 30vh;
    }
}