*{
    padding-top: 6px;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand {
    font-size: 32px;
    color: #ffffff;
    font-family: "Dancing Script", cursive;
}

/* .navbar-brand:hover {

} */

.container-fluid {
    background-color: black;
    background-size: cover;
}

.Order-Online-button {
    background-color: #ffbe33;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 30px;
    margin: 0px 10px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.Order-Online-button:hover {
    background-color: #e69c00;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.sr-only {
    color: #ffbe33;
}

.bi {
    color: #ffffff;
    margin: 0px 10px;
}

.nav-end{
    padding-left: 70px;
}

.nav-link {
    padding: 5px 20px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #ffbe33;
}